<script type="text/javascript">
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId, itemSize) {
        var selector = `#id_qty_${itemId}_${itemSize}`;
        var currentValue = parseInt($(selector).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}_${itemSize}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}_${itemSize}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for (var i = 0; i < allQtyInputs.length; i++) {
        var itemId = $(allQtyInputs[i]).data('item_id');
        var itemSize = $(allQtyInputs[i]).data('item_size'); 
        handleEnableDisable(itemId, itemSize);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        var itemSize = $(this).data('item_size'); 
        handleEnableDisable(itemId, itemSize);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       var itemSize = $(this).data('item_size'); 
       handleEnableDisable(itemId, itemSize);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       var itemSize = $(this).data('item_size'); 
       handleEnableDisable(itemId, itemSize);
    });
</script>
