<script type="text/javascript">
    $(document).ready(function () {
        function handleEnableDisable(itemId, size) {
            var inputSelector = size ? `.size_${itemId}_${size}` : `.id_qty_${itemId}`;
            var currentValue = parseInt($(inputSelector).val());
            var minusDisabled = currentValue < 2;
            var plusDisabled = currentValue > 98;

            if (size) {
                $(`.decrement-size_${itemId}_${size}`).prop('disabled', minusDisabled);
                $(`.increment-size_${itemId}_${size}`).prop('disabled', plusDisabled);
            } else {
                $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
                $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
            }
        }

        // Ensure proper enabling/disabling of all inputs on page load
        $('.qty_input').each(function () {
            var itemId = $(this).data('item_id');
            var size = $(this).data('size');
            handleEnableDisable(itemId, size);
        });

        // Check enable/disable every time the input is changed
        $('.qty_input').change(function () {
            var itemId = $(this).data('item_id');
            var size = $(this).data('size');
            handleEnableDisable(itemId, size);
        });

        // Increment/decrement quantity
        $('.increment-qty, .decrement-qty').click(function (e) {
            e.preventDefault();
            var itemId = $(this).data('item_id');
            var size = $(this).data('size');
            var inputField = $(`#id_qty_${itemId}`);
            var currentValue = parseInt(inputField.val());

            if ($(this).hasClass('increment-qty')) {
                inputField.val(currentValue + 1);
            } else {
                inputField.val(currentValue - 1);
            }

            handleEnableDisable(itemId, size);
        });
    });
</script>
